link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/style.css")
link(rel="shortcut icon",href="images/bg_flower.gif")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")