.navbar.navbar-inverse
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1",aria-expanded="false")
				span.sr-only Toggle Navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#") Moose

		.collapse.navbar-collapse.navbar-responsive-collapse
			ul(class="nav navbar-nav")
				li
					a(href="/")
						i.glyphicon.glyphicon-home(style="margin-right:3px")
						span Home
				li
					a(href="/")
						i.glyphicon.glyphicon-user(style="margin-right:3px")
						span About Me
				li
					a(href="/")
						i.glyphicon.glyphicon-book(style="margin-right:3px")
						span Note
				li
					a(href="/")
						i.glyphicon.glyphicon-film(style="margin-right:3px")
						span Photo
				li
					a(href="/")
						i.glyphicon.glyphicon-envelope(style="margin-right:3px")
						span Contact Me

			form#form-search(class="navbar-form navbar-left",action="/search",method="post",onSubmit="return false")
				.form-group
					input.form-control(type="text",onkeydown="onKeyDown(this)",name="query",placeholder="Search")
					button(type="submit",class="btn btn-default")
						i.glyphicon.glyphicon-search

			.nav.navbar-nav.navbar-right
				if user
					h5.text-right(style="margin-top: 10px")
						if !user.img
							img(src="/images/headpic.png",style="width:32px;height:32px;border-radius:50%")
						else
							img(src="/uploads/#{user.img}",style="width:32px;height:32px;border-radius:50%")
						a(href="/user/center?userId=#{user._id}",style="color:#BBFFFF;font-size:16px;margin-right:10px;") &nbsp;#{user.name}
						span.dropdown(style="display: inline-block;")
							button.btn.btn-primary.dropdown-toggle(id="dLable",type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Admin
								span.caret
							ul(class="dropdown-menu",aria-labelledby="dLable")
								li
									a(href="/admin/movie/list") Movie List
								li
									a(href="/admin/movie/add") Add Movie
								li
									a(href="/admin/category/list") Movie Class
								li
									a(href="/admin/category/new") Add Class
								li
									a(href="/admin/user/list") User List
						a.btn.btn-danger(href="/loginout",style="margin-left:10px;") Logout
				else
					h5.text-right(style="margin-top: 10px")
					a(href="/",class="btn btn-primary pull-right",style="margin:0 0 10px 10px",data-toggle="modal",data-target="#signin-modal") Login
					a(href="/",class="btn btn-success pull-right",data-toggle="modal",data-target="#signup-modal") Register

.back-img
	.carousel.slide(id="carousel-example-generic" data-ride="carousel")
		.carousel-inner(role="listbox")
			.item.active
				img(src="https://kxf89910110.github.io/My-Blog/img/back1.jpg" alt="...")
			.item
				img(src="https://kxf89910110.github.io/My-Blog/img/back2.jpg" alt="...")
			.item
				img(src="https://kxf89910110.github.io/My-Blog/img/back3.jpg" alt="...")
			.item
				img(src="https://kxf89910110.github.io/My-Blog/img/back4.jpg" alt="...")

.container
#signin-modal.modal.fade
	.modal-dialog
		.modal-container(style="background:#fff;border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);")
			form(method="POST",action="/user/signIn")
				.modal-header
					h4.modal-title Login
				.modal-body
					.form-group
						label(for="signinName") ID：
						input.form-control(type="text", id="signinName" ,placeholder="ID",name="user[name]")
					.form-group
						label(for="signPassword") Password：
						input.form-control(type="password", id="signPassword" ,placeholder="Password",name="user[password]")
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") close
					button.btn.btn-success(type="submit") submit

#signup-modal.modal.fade
	.modal-dialog
		.modal-container(style="background:#fff;border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);")
			form(method="POST",action="/user/signUp")
				.modal-header
					h4.modal-title Register
				.modal-body
					.form-group
						label(for="signupName") ID：
						input.form-control(type="text", id="signupName" ,placeholder="ID",name="user[name]")
					.form-group
						label(for="signupPassword") Password：
						input.form-control(type="password", id="signupPassword" ,placeholder="Password",name="user[password]")
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") close
					button.btn.btn-success(type="submit") submit
	script.
		function onKeyDown(ele){
			var e = event || window.event
			var $val = $(ele).val();
			if(e && e.keyCode==13){ // enter 键
				console.info($val)
				if($val==""||$val==null){
					return false
				}else{
					console.log($val);
					$("#form-search").attr('onSubmit','return true');
				}
				return false
			}
		}